<div class="layout-footer">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
        alt="Shipped" height="20" class="mr-2" />
    <span class="font-small ml-2">with</span>
    <span class="font-small ml-2"> <i class="pi pi-heart-fill" style="color: #C51162"></i></span>
    <span class="font-small ml-2">
        by</span>
    <span class="font-medium ml-2">
        <a href="https://github.com/muhammad-saad-01" target="_blank">Muhammad Saad</a>
    </span>
    <span class="font-small ml-2">from</span>
    <span class="font-medium ml-2">
        <a href="https://github.com/null-pointer-squad" target="_blank">Null Pointer Squad</a>
    </span>
</div>